*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    
    background: rgb(14,14,0);
background: linear-gradient(180deg, rgba(14,14,0,1) 0%, rgba(20,20,0,1) 51%, rgba(22,23,0,1) 100%);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column; 
    text-align: center;
}

header img{
    margin: 20px;
    width: 125px;
    border-radius: 50%;
    transform: translateY(0);
    animation: float 5s ease-in-out infinite;
}
@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

header h1, header h2{
    color: #fff;
    margin-bottom: 10px;
}
li, a{
    text-decoration: none;
    list-style: none;
}

section{
    margin-top: 50px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
}

section .boxes{
    width:80%;
}

section .boxes ul li{
    width: 100%;
    margin-bottom: 15px;
    background: rgb(81,82,0);
    background: linear-gradient(180deg, rgba(81,82,0,1) 0%, rgba(142,147,0,1) 48%, rgba(246,255,2,1) 100%);
    color: white;
}

section .boxes ul li a p{
    color: white;
    padding: 20px 0;
}